class io_driver extends uvm_driver#(io_xtn);

	`uvm_component_utils(io_driver)

	function new(string name="io_driver",uvm_component parent);
		super.new(name,parent);
	endfunction

	function void build_phase(uvm_phase phase);
		super.build_phase(phase);
	endfunction

endclass

