class virtual_seqr extends uvm_sequencer #(uvm_sequence_item) ;
	`uvm_component_utils(virtual_seqr)

	master_seqr master_seqrh[];
	slave_seqr  slave_seqrh[];
        
	env_config env_cfg;

	function new(string name="virtual_seqr",uvm_component parent);
	         super.new(name,parent);
	endfunction

        function void build_phase(uvm_phase phase);
		if(!uvm_config_db #(env_config)::get(this,"","env_config",env_cfg)) //Here we are getting to find the no of agents. 
		      	`uvm_fatal("CONFIG","cannot get() env_cfg from uvm_config_db. Have you set() it?")

		master_seqrh = new[env_cfg.no_of_master_agents];
		slave_seqrh  = new[env_cfg.no_of_slave_agents];
	endfunction
          
endclass
